---
import Layout from "../layouts/Layout.astro";
---

<Layout title="textjam">
  <main>
    <pre>textjam

-&gt; <a href="https://textjam.github.io/winter2023/">winter2023</a> &lt;-

<a href="https://github.com/textjam/textjam.github.io">edit this site on github</a></pre>
  </main>
</Layout>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
